<div class="system-header" fxLayout="row" fxLayoutAlign="start start">
  <div class="dots" fxLayoutAlign="start start" fxFlex>
    <span class="tracker">Tracker</span>
    <span class="dot" [style.background-color]="'BLUE'"></span>
    <span class="dot" [style.background-color]="'YELLOW'"></span>
    <span class="dot" [style.background-color]="'GREEN'"></span>
    <span class="dot" [style.background-color]="'ORANGE'"></span>
  </div>

  <div class="options" *ngIf="tokenStorage.tokenExist()" fxLayoutAlign="center start" fxFlex>
    <span class="material-icons icon">list</span>
    <span class="material-icons icon">card_giftcard</span>
    <span class="material-icons icon">card_giftcard</span>
    <span class="material-icons icon">card_giftcard</span>
  </div>

  <div fxLayoutAlign="end start" fxFlex>
    <div class="option" *ngIf="tokenStorage.tokenExist()">
      <button type="button" class="btn btn-link text-muted" (click)="logout()">Sign out</button>
    </div>
    <div class="option" *ngIf="!tokenStorage.tokenExist()">
      <button type="button" class="btn btn-link text-muted" routerLink="/login">Sign in</button>
    </div>
    <div class="option" *ngIf="!tokenStorage.tokenExist()">
      <button type="button" class="btn btn-link text-muted" routerLink="/registration">Create account</button>
    </div>
  </div>
</div>