<div class="system-header" fxLayout="row" fxLayoutAlign="start start">
  <div class="dots" fxLayoutAlign="start start" fxFlex>
    <span class="tracker">Tracker</span>
    <span class="dot" [style.background-color]="'BLUE'"></span>
    <span class="dot" [style.background-color]="'YELLOW'"></span>
    <span class="dot" [style.background-color]="'GREEN'"></span>
    <span class="dot" [style.background-color]="'ORANGE'"></span>
  </div>

  <div class="options" *ngIf="tokenStorage.tokenExist()" fxLayoutAlign="center start" fxFlex>
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab>
        <ng-template mat-tab-label>
          <a class="material-icons icon" routerLink="/search">search</a>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <a class="material-icons icon" routerLink="/menu">list</a>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <a class="material-icons icon" routerLink="/order">add_box</a>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <a class="material-icons icon" routerLink="/account">account_box</a>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div fxLayoutAlign="end start" fxFlex>
    <div class="option" *ngIf="tokenStorage.tokenExist()">
      <button type="button" class="btn btn-link text-muted" (click)="logout()">
        <span class="button-text">Logout</span>
      </button>
    </div>
    <div class="option" *ngIf="!tokenStorage.tokenExist()">
      <button type="button" class="btn btn-link text-muted" routerLink="/login">
        <span class="button-text">Login</span>
      </button>
    </div>
    <div class="option" *ngIf="!tokenStorage.tokenExist()">
      <button type="button" class="btn btn-link text-muted" routerLink="/registration">
        <span class="button-text">Register</span>
      </button>
    </div>
  </div>
</div>