<div class="container">
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let order"> {{order.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> NAME </th>
            <td mat-cell *matCellDef="let order"> {{order.name}} </td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> CODE </th>
            <td mat-cell *matCellDef="let order"> {{order.code}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> STATUS </th>
            <td mat-cell *matCellDef="let order"> {{order.status}} </td>
        </ng-container>

        <ng-container matColumnDef="statusColor">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let order">
                <span class="dot" [style.background-color]="order.statusColor"></span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="container">
    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="wareouse">
            <ng-template matStepLabel>Wareouse</ng-template>
        </mat-step>
        <mat-step [stepControl]="sorting_plant">
            <ng-template matStepLabel>Sorting plant</ng-template>
        </mat-step>
        <mat-step [stepControl]="transport">
            <ng-template matStepLabel>Transport</ng-template>
            <p>You are now done.</p>
        </mat-step>
        <mat-step [stepControl]="parcel_locker">
            <ng-template matStepLabel>Parcel locker</ng-template>
            <p>You are now done.</p>
        </mat-step>
        <mat-step [stepControl]="done">
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
        </mat-step>
    </mat-horizontal-stepper>
</div>