.registration-form {
    text-align: center;
}

.registration-input {
    width: 40%;
}

.input-inline {
   margin-right: 10px;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-container {
    display: inline-block;
    position: relative;
  } 

::ng-deep.mat-form-field-label {
    color: #e39300 !important;
}

::ng-deep .mat-select-arrow {
    color: #e39300 !important;
}
  
::ng-deep.mat-form-field-underline {
    background-color: #e39300 !important;
} 
  
::ng-deep.mat-form-field-ripple {
   background-color: #e39300 !important;
}

::ng-deep input.mat-input-element {
    color: #e39300 !important;
}

::ng-deep.not-empty-select.mat-selected {
    color: #e39300  !important;
}