<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="order-form">
        <div formGroupName="address">
            <div class="form-group">
                <mat-form-field class="order-input">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" formControlName="city">
                    <mat-error *ngIf="errorService.hasError('address.city')">
                        {{ errorService.getErrorMessage('address.city') }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="order-input">
                    <mat-label>Street</mat-label>
                    <input matInput placeholder="Street" formControlName="street">
                    <mat-error *ngIf="errorService.hasError('address.street')">
                        {{ errorService.getErrorMessage('address.street') }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="order-input">
                    <mat-label>Postal code</mat-label>
                    <input matInput placeholder="Postal code" formControlName="postalCode">
                    <mat-error *ngIf="errorService.hasError('address.postalCode')">
                        {{ errorService.getErrorMessage('address.postalCode') }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="form-group">
            <mat-form-field class="input-inline">
                <mat-label>Order type</mat-label>
                <mat-select formControlName="orderType">
                    <mat-option *ngFor="let type of orderTypes" [value]="type.type">
                        {{type.typeDescription}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="errorService.hasError('orderType')">
                    {{ errorService.getErrorMessage('orderType') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="input-inline">
                <mat-label>Transport type</mat-label>
                <mat-select formControlName="transportType">
                    <mat-option *ngFor="let transport of transports" [value]="transport.type">
                        {{transport.transportDescription}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="errorService.hasError('transportType')">
                    {{ errorService.getErrorMessage('orderType') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="button-container">
            <div class="spinner-container" *ngIf="startLoading$ | async">
                <mat-spinner diameter="24"></mat-spinner>
            </div>
            <button mat-raised-button [disabled]="startLoading$ | async" type="submit" color="primary">Start</button>
        </div>
    </div>
</form>