<div class="container">
    <form class="order-form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <mat-form-field class="order-input">
                <mat-label>Order name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <div class="text-danger" *ngIf="errorService.getErrorMessage('person.name')">
                {{errorService.getErrorMessage('person.name')}}
            </div>
        </div>

        <div formGroupName="person">
            <div class="form-group">
                <mat-form-field class="order-input">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="First name" formControlName="firstName">
                </mat-form-field>
                <div class="text-danger" *ngIf="errorService.getErrorMessage('person.firstName')">
                    {{errorService.getErrorMessage('person.firstName')}}
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="order-input">
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Last name" formControlName="lastName">
                </mat-form-field>
                <div class="text-danger" *ngIf="errorService.getErrorMessage('person.lastName')">
                    {{errorService.getErrorMessage('person.lastName')}}
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="order-input">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <div class="text-danger" *ngIf="errorService.getErrorMessage('person.email')">
                    {{errorService.getErrorMessage('person.firstName')}}
                </div>
            </div>
        </div>

        <div formGroupName="address">
            <div class="form-group">
                <mat-form-field class="order-input">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
                <div class="text-danger" *ngIf="errorService.getErrorMessage('address.city')">
                    {{errorService.getErrorMessage('address.city')}}
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="order-input">
                    <mat-label>Street</mat-label>
                    <input matInput placeholder="Street" formControlName="street">
                </mat-form-field>
                <div class="text-danger" *ngIf="errorService.getErrorMessage('address.street')">
                    {{errorService.getErrorMessage('address.street')}}
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="order-input">
                    <mat-label>Postal code</mat-label>
                    <input matInput placeholder="Postal code" formControlName="postalCode">
                </mat-form-field>
                <div class="text-danger" *ngIf="errorService.getErrorMessage('address.postalCode')">
                    {{errorService.getErrorMessage('address.postalCode')}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <mat-form-field class="input-inline">
                <mat-label>Order start date</mat-label>
                <input matInput formControlName="orderStartDate" [matDatepicker]="startDatePicker">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="input-inline">
                <mat-label>Order end date</mat-label>
                <input matInput formControlName="orderEndDate" [matDatepicker]="orderEndDate">
                <mat-datepicker-toggle matSuffix [for]="orderEndDate"></mat-datepicker-toggle>
                <mat-datepicker #orderEndDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="input-inline">
                <mat-label>Order type</mat-label>
                <mat-select>
                    <mat-option *ngFor="let type of orderTypes" [value]="type.type">
                        {{type.typeDescription}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="errorService.getErrorMessage('orderType')">
                {{errorService.getErrorMessage('address.postalCode')}}
            </div>

            <mat-form-field class="input-inline">
                <mat-label>Transport type</mat-label>
                <mat-select>
                    <mat-option *ngFor="let transport of transports" [value]="transport.type">
                        {{transport.transportDescription}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="button-container">
            <div class="spinner-container" *ngIf="startLoading$ | async">
                <mat-spinner diameter="24"></mat-spinner>
            </div>
            <button mat-raised-button [disabled]="startLoading$ | async" type="submit" color="primary">Start</button>
        </div>
    </form>
</div>