<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card class="info-card" *ngIf="displayBox">
        <span style="color: red;">Wrong username or password</span>
    </mat-card>
    <div class="login-form">
        <div class="login-box">
            <div class="form-group">
                <mat-form-field class="login-input">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="errorService.hasError('username')">
                        {{ errorService.getErrorMessage('username') }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="login-input">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error *ngIf="errorService.hasError('username')">
                        {{ errorService.getErrorMessage('password') }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="button-container">
                <div class="spinner-container" *ngIf="false">
                    <mat-spinner diameter="24"></mat-spinner>
                </div>
                <button mat-raised-button [disabled]="false" type="submit" color="primary">Login</button>
            </div>
        </div>
    </div>
</form>