
.login-form {
    text-align: center;
}  

.login-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f0f0f0;
    margin-top: 8%;
    margin-left: 30%;   
    width: 40%;
    padding: 40px;
}

.login-input {
    width: 20vw;
}