<form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="title">
        <span>Your orders USERNAME</span>
    </div>
    <div class="form-group order-form">
        <mat-form-field class="search-input">
            <mat-label>Order name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="search-input">
            <mat-label>Order code</mat-label>
            <input matInput placeholder="Order code" formControlName="code">
        </mat-form-field>

        <mat-form-field class="search-input">
            <mat-label>Order start date</mat-label>
            <input matInput formControlName="orderStartDate" [matDatepicker]="startDatePicker">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="form-group order-form">
        <mat-form-field class="search-input">
            <mat-label>Order type</mat-label>
            <mat-select formControlName="orderType">
                <mat-option *ngFor="let type of orderTypes" [value]="type.type">
                    {{type.typeDescription}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="search-input">
            <mat-label>Transport type</mat-label>
            <mat-select formControlName="transportType">
                <mat-option *ngFor="let transport of transports" [value]="transport.type">
                    {{transport.transportDescription}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="search-input">
            <mat-label>Order end date</mat-label>
            <input matInput formControlName="orderEndDate" [matDatepicker]="orderEndDate">
            <mat-datepicker-toggle matSuffix [for]="orderEndDate"></mat-datepicker-toggle>
            <mat-datepicker #orderEndDate></mat-datepicker>
        </mat-form-field>
    </div>
</form>